# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# OCR debug
debug_*.png

# Reports
data/reports/*.xlsx

# Database
db/*.db

# CSV exports
data/*.csv

# Raw WhatsApp exports
data/raw/chat.txt

# Images from WhatsApp
data/raw/*.jpg
data/raw/*.jpeg
data/raw/*.png

# Python packages
*.whl

# VS Code
.vscode/